<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/makeTrip.min.css">
</head>
<body>

<section class="add_trip">
    <div class="container">
        <form th:action="@{/makeTrip}" th:object="${trip}" method="post">
            <tr>
                <td>Cities</td>
                <td><select name="cities">
                    <option th:each="city:${cities}" th:value="${city.getId()}"
                            th:text="${city.getName()}" value="">Skaaaa</option>
                </select></td>
            </tr>
        </form>
    </div>
</section>

<script src="js/bootstrap.js"></script>
</body>
</html>
