<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>makeTrip</title>
    <link rel="stylesheet" href="css/makeTrip.min.css">
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Travel Agency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/search_trips}">Trips search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/makeTrip}">Administrator</a>
                        </li>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="add_trip">
    <div class="container">
        <form th:action="@{/makeTrip}" th:object="${trip}" method="post">

            <label for="cityFrom">City from:</label>
                <select th:field="*{cityFrom}">
                    <optgroup th:each="pairForCountries : ${countriesMap}"
                              th:label="${pairForCountries.getKey()}">
                        <option th:each="countryValue : ${pairForCountries.getValue()}"
                                th:value="${countryValue.getId()}"
                                th:text="${countryValue.getName()}">
                        </option>
                    </optgroup>
                </select>
            <br>

            <label for="airportFrom">Airport from:</label>
            <select th:field="*{airportFrom}">
                <optgroup th:each="airport : ${airportMap}"
                          th:label="${airport.getKey()}">
                    <option th:each="airportValue : ${airport.getValue()}"
                            th:value="${airportValue.getId()}"
                            th:text="${airportValue.getName()}">
                    </option>
                </optgroup>
            </select><br>

            <label for="cityTo">City to:</label>
            <select th:field="*{cityTo}">
                <optgroup th:each="pairForCountries : ${countriesMap}"
                          th:label="${pairForCountries.getKey()}">
                    <option th:each="countryValue : ${pairForCountries.getValue()}"
                            th:value="${countryValue.getId()}"
                            th:text="${countryValue.getName()}">
                    </option>
                </optgroup>
            </select><br>

            <label for="airportTo">Airport to:</label>
            <select th:field="*{airportTo}">
                <optgroup th:each="airport : ${airportMap}"
                          th:label="${airport.getKey()}">
                    <option th:each="airportValue : ${airport.getValue()}"
                            th:value="${airportValue.getId()}"
                            th:text="${airportValue.getName()}">
                    </option>
                </optgroup>
            </select><br>

            <label for="hotelTo">Hotel to:</label>
            <select th:field="*{hotelTo}">
                <optgroup th:each="hotel : ${hotelMap}"
                          th:label="${hotel.getKey()}">
                    <option th:each="hoteltValue : ${hotel.getValue()}"
                            th:value="${hoteltValue.getId()}"
                            th:text="${hoteltValue.getName()}">
                    </option>
                </optgroup>
            </select><br>


            <label for="date-started">Date started:</label>
            <input type="date" th:value="${trip.departureDate}" th:field="${trip.departureDate}"
                   id="date-started"/><br>

            <label for="date-back">Date back:</label>
            <input type="date" th:value="${trip.returnDate}" th:field="${trip.returnDate}"
                   id="date-back"/><br>

            <label for="numberOfDays">Number of days:</label>
            <input type="text" th:field="*{numberOfDays}" th:placeholder="120max"/><br>

            <label for="typeOfTrip">Choose typeOfTrip:</label>
            <select th:field="*{typeOfTrip}">
                <option th:each="types : ${T(com.sda.projects.Travel_agency.entity.TypeOfTrip).values()}"
                        th:value="${types}" th:text="${types}">Choose typeOfTrip</option>
            </select><br>

            <label for="priceForAdult">Price for adult:</label>
            <input type="text" th:field="*{priceForAdult}" th:placeholder="priceForAdult"/><br>

            <label for="priceForChild">Price for child:</label>
            <input type="text" th:field="*{priceForChild}" th:placeholder="priceForChild"/><br>

            <label>Promoted:</label>
            <label>
                <input type="radio" th:field="*{promoted}" value="1" th:checked="*{promoted}"/>yes</label>

            <label>
                <input type="radio" th:field="*{promoted}" value="0" th:checked="*{promoted == false}"/>no</label><br>

            <label for="numberOfBedsForAdults">Number of beds for adults:</label>
            <input type="text" th:field="*{numberOfBedsForAdults}" th:placeholder="numberOfBedsForAdults"/><br>

            <label for="numberOfBedsForChildren">Number of beds for children:</label>
            <input type="text" th:field="*{numberOfBedsForChildren}" th:placeholder="numberOfBedsForChildren"/><br>

            <input type="submit">

        </form>
        <br>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
