<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchTrip</title>
    <link rel="stylesheet" href="css/makeTrip.css">
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Travel Agency</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/search_trips}">Trips search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/makeTrip}">Administrator</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="search_trip">
    <div class="container">
        <form th:action="@{/search_trips}" th:object="${trip}" method="post">

            <label for="hotelTo">Hotel to:</label>
            <select th:field="*{hotelTo}">
                <optgroup th:each="hotel : ${hotelMap}"
                          th:label="${hotel.getKey()}">
                    <option th:each="hoteltValue : ${hotel.getValue()}"
                            th:value="${hoteltValue.getId()}"
                            th:text="${hoteltValue.getName()}">
                    </option>
                </optgroup>
            </select><br>

            <input type="submit" value="Send">

        </form>
        <br>

        <form th:action="@{/search_trips2}" th:object="${trip}" method="post">

            <label for="cityTo">City to:</label>
            <select th:field="*{cityTo}">
                <optgroup th:each="pairForCountries : ${countriesMap}"
                          th:label="${pairForCountries.getKey()}">
                    <option th:each="countryValue : ${pairForCountries.getValue()}"
                            th:value="${countryValue.getId()}"
                            th:text="${countryValue.getName()}">
                    </option>
                </optgroup>
            </select><br>

            <input type="submit" value="Send">

        </form>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
